<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
	</head>
	<body text="#000000" bgcolor="#FFFFFF">
		<div style="display: table; width: 680px !important;">
			<div style="display: table-row-group;">
				<div style="display: table-row;">
					<div>
						<img id="_x0000_i1026" src="http://www.ans.gov.br/images/stories/Boletim_/header-email-ans.jpg" >
					</div>
				</div>
				<div style="display: table-row;" align="center">
					<div style="display: table-cell;padding: 3px 10px;" ">
						<p style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;">
							<span style="font-size:14.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black;mso-fareast-language:PT-BR"><br/>
								{{title}}
							</span>
						</p>
                        
                        <div align="justify">
							<p style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto">
								<span style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black;mso-fareast-language:PT-BR"><br/>
									{{content}}
								</span>
							</p>
						</div>
					</div>
				</div>
				{{#noResponse}}
				<div style="display: table-row;" align="center">
					<div style="display: table-cell;padding: 3px 10px;" align="center">
						<hr/>
						<span style="font-size:7.5pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black;mso-fareast-language:PT-BR">
							<b>Este &eacute; um e-mail autom&aacute;tico, favor n&atilde;o respond&ecirc;-lo.</b>
						</span>
					</div>
				</div>
				{{/noResponse}}
				<div style="display: table-row;">
					<img id="_x0000_i1025" src="http://www.ans.gov.br/images/stories/Boletim_/footer-email-ans.jpg" >
				</div>
			</div>
		</div>
	</body>
</html>